In [212]:
import pandas as pd
import os

In [213]:
loc = pd.read_csv("../data/locations.csv", dtype="str")
loc.head()

,location_code,cidade,bairro,logradouro,location,neighborhood_code,city_code
0,12658,limeira,vila claudia,avenida antonio ometo,limeira|vila claudia|avenida antonio ometo,5215,202
1,1427,birigui,chacaras caicara,rua benjamin strozi,birigui|chacaras caicara|rua benjamin strozi,683,43
2,1440,birigui,jardim vitrine,rua silvio vieira coelho,birigui|jardim vitrine|rua silvio vieira coelho,2837,43
3,17021,praia grande,solemar ii,avenida ministro marcos freire,praia grande|solemar ii|avenida ministro marco...,4848,305
4,11939,jardinopolis,jardinopolis,avenida prefeito newton reis,jardinopolis|jardinopolis|avenida prefeito new...,2858,187

In [214]:
loc[loc["neighborhood_code"].duplicated()]

,location_code,cidade,bairro,logradouro,location,neighborhood_code,city_code
7,1421,birigui,centro,avenida governador pedro de toledo,birigui|centro|avenida governador pedro de toledo,513,43
10,789,assis,centro,rua sebastiao da silva leite,assis|centro|rua sebastiao da silva leite,513,27
12,22092,s.gertrudes,centro,avenida 3,s.gertrudes|centro|avenida 3,513,345
15,7234,guaicara,centro,rua jose souto pereira,guaicara|centro|rua jose souto pereira,513,126
17,17094,rafard,centro,rua alan rolim barbosa,rafard|centro|rua alan rolim barbosa,513,314
...,...,...,...,...,...,...,...
37537,13219,maua,jardim maua,rua da bocania,maua|jardim maua|rua da bocania,2157,217
37538,13934,mogi das cruzes,centro,rua olegario paiva,mogi das cruzes|centro|rua olegario paiva,513,227
37539,16805,poa,vila santa helena,rua tome de souza,poa|vila santa helena|rua tome de souza,5849,294
37540,17229,ribeirao pires,jd sao francisco,rua sao jorge,ribeirao pires|jd sao francisco|rua sao jorge,3299,319
37543,6532,ferraz de vasconcelos,jd freire,rua valter miranda de bitencourt,ferraz de vasconcelos|jd freire|rua valter mir...,3032,118

In [215]:
loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37545 entries, 0 to 37544
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   location_code      37545 non-null  object
 1   cidade             37545 non-null  object
 2   bairro             37545 non-null  object
 3   logradouro         37545 non-null  object
 4   location           37545 non-null  object
 5   neighborhood_code  37545 non-null  object
 6   city_code          37545 non-null  object
dtypes: object(7)
memory usage: 2.0+ MB

In [216]:
loc.replace({"cidade": {"s\.": "sao ", "sto\.": "santo"}, "bairro": {"s\.": "sao "}}, inplace=True, regex=True)

In [217]:
loc.replace({"cidade": {"sao andre": "santo andre"}}, inplace=True)

In [218]:
loc.to_csv("../data/locations2.csv", index=False)

In [219]:
loc["cidade"].unique()

array(['limeira', 'birigui', 'praia grande', 'jardinopolis',
       'sao jose do rio preto', 'marilia', 'osasco', 'assis', 'sao paulo',
       'sao gertrudes', 'sao vicente', 'guaicara', 'rafard', 'guarulhos',
       'campinas', 'peruibe', 'ferraz de vasconcelos',
       'sao bento do sapucai', 'hortolandia', 'maua',
       'sao jose dos campos', 'rio claro', 'santo andre', 'guaruja',
       'indaiatuba', 'santos', 'franco da rocha', 'bertioga', 'jundiai',
       'taboao da serra', 'ribeirao preto', 'barretos', 'adamantina',
       'rio das pedras', 'sao jose do barreiro', 'jacarei', 'valinhos',
       'sao carlos', 'bauru', 'caieiras', 'sao fe do sul',
       'artur nogueira', 'sao barbara d oeste', 'itaquaquecetuba',
       'varzea paulista', 'sorocaba', 'diadema', 'mogi das cruzes',
       'franca', 'tupa', 'barra bonita', 'sumare', 'bebedouro',
       'piracicaba', 'rio grande da serra', 'araraquara', 'mogi guacu',
       'cotia', 'suzano', 'pedro de toledo', 'aguai', 'nova odessa',
       'boituva', 'cruzeiro', 'carapicuiba', 'poa', 'americana', 'araras',
       'taubate', 'santana de parnaiba', 'sao bernardo do campo',
       'sao pedro do turvo', 'iracemapolis', 'porto feliz', 'barueri',
       'amparo', 'ubatuba', 'pitangueiras', 'campo limpo paulista',
       'mogi mirim', 'colina', 'francisco morato', 'mongagua',
       'ribeirao pires', 'novo horizonte', 'cacapava', 'guaira', 'bastos',
       'jaboticabal', 'embu das artes', 'dois corregos', 'itanhaem',
       'pindamonhangaba', 'pinhalzinho', 'miguelopolis', 'cordeiropolis',
       'ipigua', 'cajamar', 'bom jesus dos perdoes', 'itapira', 'atibaia',
       'embu-guacu', 'sao caetano do sul', 'sertaozinho', 'lorena',
       'jandira', 'pedra bela', 'lins', 'tatui', 'itapecerica da serra',
       'serrana', 'itabera', 'salto', 'taiuva', 'candido mota',
       'jaguariuna', 'jarinu', 'osvaldo cruz', 'votorantim',
       'casa branca', 'cabreuva', 'garca', 'itu', 'pedreira', 'itariri',
       'castilho', 'presidente prudente', 'rincao', 'cosmopolis',
       'itapevi', 'aracatuba', 'vinhedo', 'mococa', 'ibitinga',
       'braganca paulista', 'paulinia', 'ituverava', 'catanduva',
       'cristais paulista', 'jau', 'mairipora', 'ouroeste', 'aruja',
       'jose bonifacio', 'morungaba', 'brodowski', 'itatiba',
       'itapetininga', 'ibiuna', 'cerquilho', 'leme', 'taquarivai',
       'avare', 'mirassolandia', 'matao', 'jales', 'sao antonio de posse',
       'palmital', 'sao pedro', 'conchas', 'aluminio', 'aguas de lindoia',
       'pindorama', 'cachoeira paulista', 'taguai', 'pilar do sul',
       'americo brasiliense', 'andradina', 'taquaritinga', 'mirandopolis',
       'caraguatatuba', 'sao rita passa quatro', 'guariba', 'monte alto',
       'descalvado', 'mairinque', 'sao joao da boa vista', 'socorro',
       'sao cruz do rio pardo', 'espirito santo pinhal',
       'lencois paulista', 'capao bonito', 'penapolis', 'parapua',
       'potim', 'nazare paulista', 'avanhandava', 'guaratingueta',
       'orlandia', 'rifaina', 'tiete', 'itapeva', 'tremembe', 'capivari',
       'monte aprazivel', 'louveira', 'cubatao', 'ipero', 'guatapara',
       'pirangi', 'mirante paranapanema', 'monte mor', 'fernando prestes',
       'piquete', 'marapoama', 'valparaiso', 'botucatu', 'analandia',
       'pereira barreto', 'vista alegre do alto', 'sao roque', 'piracaia',
       'igaracu do tiete', 'pirapozinho', 'iacanga', 'piedade',
       'sao manuel', 'barrinha', 'sao lucia', 'agudos', 'rancharia',
       'ourinhos', 'pirassununga', 'angatuba', 'pontes gestal', 'fartura',
       'sao sebastiao', 'pirajui', 'batatais', 'cajati',
       'campos do jordao', 'tanabi', 'cardoso', 'guapiacu',
       'bady bassitt', 'sao isabel', 'salmourao', 'biritiba-mirim',
       'itupeva', 'serra negra', 'votuporanga', 'florinia',
       'sao lourenco da serra', 'torrinha', 'sao jose do rio pardo',
       'capela do alto', 'aracoiaba da serra', 'ilhabela', 'itirapina',
       'turiuba', 'getulina', 'juquia', 'vargem', 'buritama',
       'engenheiro coelho', 'conchal', 'piratininga', 'guararapes',
       'sao cruz das palmeiras', 'sao rosa de viterbo', 'embu',
       'sao miguel arcanjo', 'cunha', 'nhandeara', 'salto de pirapora',
       'presidente epitacio', 'aguas de sao pedro', 'elias fausto',
       'porto ferreira', 'vargem grande paulista', 'salto grande',
       'holambra', 'potirendaba', 'pradopolis', 'clementina', 'itatinga',
       'salesopolis', 'fernandopolis', 'ilha comprida', 'saltinho',
       'jacupiranga', 'mombuca', 'igarapava', 'avai', 'apiai',
       'estiva gerbi', 'itirapua', 'pontal', 'serra azul', 'altinopolis',
       'cravinhos', 'pederneiras', 'paraguacu paulista', 'ibira',
       'junqueiropolis', 'pacaembu', 'iguape', 'sarapui', 'nova granada',
       'paraibuna', 'cerqueira cesar', 'sao adelia', 'chavantes',
       'olimpia', 'ouro verde', 'mirassol', 'caconde', 'tambau',
       'juquitiba', 'itarare', 'elisiario', 'igarata', 'ibate',
       'valentim gentil', 'viradouro', 'piacatu', 'urupes',
       'martinopolis', 'patrocinio paulista', 'pongai', 'ilha solteira',
       'presidente venceslau', 'cananeia', 'duartina', 'rubineia',
       'macatuba', 'pariquera-acu', 'vargem grande do sul', 'dumont',
       'pardinho', 'itaporanga', 'sao joaquim da barra', 'ipua',
       'aracariguama', 'corumbatai', 'roseira', 'guararema', 'anhembi',
       'mineiros do tiete', 'sao maria da serra', 'guara', 'aparecida',
       'itapui', 'miracatu', 'registro', 'queluz', 'tuiuti',
       'espirito sao do turvo', 'itapolis', 'piraju', 'nuporanga',
       'morro agudo', 'guaranta', 'parisi', 'pirapora bom jesus',
       'pontalinda', 'sao cruz da conceicao', 'ribeirao bonito',
       'sao branca', 'barra do turvo', 'boa esperanca do sul', 'planalto',
       'charqueada', 'luis antonio', 'areiopolis', 'sales oliveira',
       'paulistania', 'porangaba', 'tapiratiba', 'cesario lange',
       'sete barras', 'lavrinhas', 'jeriquara', 'taquarituba',
       'luiziania', 'euclides da cunha pta', 'silveiras', 'aramina',
       'brotas', 'terra roxa', 'maracai', 'promissao', 'taciba',
       'aguas da prata', 'coroados', 'rinopolis', 'monte azul paulista',
       'sao antonio da alegria', 'turmalina', 'taiacu',
       'laranjal paulista', 'quadra', 'teodoro sampaio', 'restinga',
       'joanopolis', 'icem', 'jumirim', 'tapirai', 'sao simao',
       'gaviao peixoto', 'canas', 'echapora', 'pedregulho', 'cosmorama',
       'cajuru', 'presidente bernardes', 'panorama', 'manduri',
       'monteiro lobato', 'pereiras', 'severinia', 'tabatinga', 'itai',
       'ipeuna', 'colombia', 'sao antonio do jardim', 'quata', 'rosana',
       'dobrada', 'cedral', 'alvares florence', 'neves paulista',
       'oscar bressane', 'meridiano', 'jaborandi', 'oleo'], dtype=object)

In [220]:
files = os.listdir("ceps")

ceps = pd.concat([
    pd.read_csv(f"ceps/{f}", names=["cep", "logradouro", "complemento", "bairro", "id_cidade", "id_estado"], index_col=False, dtype="str") 
    for f in files
])
ceps.head()

        cep              logradouro   complemento bairro id_cidade id_estado
0  01001000             PraÃ§a da SÃ©  - lado Ã­mpar     SÃ©      8966        26
1  01001001             PraÃ§a da SÃ©    - lado par     SÃ©      8966        26
2  01001010  Rua Filipe de Oliveira           NaN     SÃ©      8966        26
3  01001900         PraÃ§a da SÃ© 108           NaN     SÃ©      8966        26
4  01001901         PraÃ§a da SÃ© 371           NaN     SÃ©      8966        26

In [221]:
cities = pd.read_csv("./ceps/cities.csv", names=["id_cidade", "cidade", "id_estado"])

In [222]:
cities = cities[cities["id_estado"] == 26]

In [223]:
ceps.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 312309 entries, 0 to 60326
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   cep          312309 non-null  object
 1   logradouro   311620 non-null  object
 2   complemento  51916 non-null   object
 3   bairro       300852 non-null  object
 4   id_cidade    301635 non-null  object
 5   id_estado    301635 non-null  object
dtypes: object(6)
memory usage: 16.7+ MB

In [224]:
ceps.drop_duplicates(subset=["bairro", "cep"], keep="first", inplace=True)
ceps.dropna(subset=["bairro", "cep"], inplace=True)
ceps = ceps.reset_index(drop=True)

In [225]:
ceps["id_cidade"] = ceps["id_cidade"].astype("int64")
ceps = ceps.join(cities.set_index("id_cidade"), on="id_cidade", rsuffix="_cities")

In [226]:
ceps["bairro"] = ceps["bairro"].str.normalize("NFKD").str.encode("ascii",  errors='ignore').str.decode("UTF-8").str.lower()
ceps["cidade"] = ceps["cidade"].str.normalize("NFKD").str.encode("ascii",  errors='ignore').str.decode("UTF-8").str.lower()

In [227]:
ceps[ceps["cep"] == "03180002"]

,cep,logradouro,complemento,bairro,id_cidade,id_estado,cidade,id_estado_cities
13830,03180002,Rua Fernando FalcÃ£o,- de 902 ao fim - lado par,vila claudia,8966,26,sao paulo,26

In [228]:
ceps.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300852 entries, 0 to 300851
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   cep               300852 non-null  object
 1   logradouro        300669 non-null  object
 2   complemento       41241 non-null   object
 3   bairro            300852 non-null  object
 4   id_cidade         300852 non-null  int64
 5   id_estado         300852 non-null  object
 6   cidade            300852 non-null  object
 7   id_estado_cities  300852 non-null  int64
dtypes: int64(2), object(6)
memory usage: 18.4+ MB

In [229]:
new_loc = loc.join(ceps.set_index(["cidade", "bairro"]), on=["cidade", "bairro"], rsuffix="_cep", how="inner")[["neighborhood_code", "cep"]].reset_index(drop=True)

In [230]:
new_loc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1918419 entries, 0 to 1918418
Data columns (total 2 columns):
 #   Column             Dtype
---  ------             -----
 0   neighborhood_code  object
 1   cep                object
dtypes: object(2)
memory usage: 29.3+ MB

In [231]:
new_loc[new_loc.duplicated()]

        neighborhood_code       cep
14                   5215  13480402
15                   5215  13480403
16                   5215  13480404
17                   5215  13480405
18                   5215  13480406
...                   ...       ...
1917837              4711  09071330
1917838              4711  09071340
1917839              4711  09071350
1917840              4711  09071360
1917841              4711  09070050

[1784397 rows x 2 columns]

In [232]:
new_loc[new_loc["cep"] == "03178030"]

        neighborhood_code       cep
1904061              5215  03178030

In [233]:
new_loc.to_csv("../data/cep.csv", index=False)